<img src="assets/code_cover.png" />
<h1 class="colorPrimaryAndCenter">{{resource.aboutTitle}}</h1>
<div class="majorGapLeftRight">
    <h3>{{resource.somethingAboutMe}}</h3>

    <h2 class="colorPrimaryAndLeft">{{resource.experience}}</h2>

    <md-grid-list rowHeight="50px" cols="1">
        <md-grid-tile *ngFor="let experience of resource.experienceDetailsArray;let index=index" [style.background]="resource.colors[index%3]"
            [colspan]="1" [rowspan]="1">
            <br>
            <h3 class="colorSecondryAndLeft">{{experience.name}}</h3>
            <h3 class="colorSecondryAndLeft">{{experience.post}}</h3>

        </md-grid-tile>
    </md-grid-list>

    <div class="roundedBorder">{{resource.downLoadResume}}</div>


    <h2 style="margin-top: 10px" class="colorPrimaryAndLeft">{{resource.aboutWebSite}}</h2>

    <h3 class="colorSecondryAndLeft">{{resource.aboutWebSiteDescription}}</h3>


</div>


<md-toolbar layout-align="center center" class="primaryBackground">

    <span class="example-fill-remaining-space"></span>
    <div style="padding-left: 10px;padding-right: 10px;cursor: pointer" *ngFor="let social of resource.aboutSocialDetailsArray">
        <img (click) = "openLink(social.link)" [src] = "social.path">
    </div>
    <span class="example-fill-remaining-space"></span>


</md-toolbar>