<md-card   (window:resize)="onResize($event)" class="cardMargin">
        <img *ngIf="innerWidth>700" class="imageFullWidth" src="assets/code_cover.png" />
        <img *ngIf="innerWidth<700" class="imageFullWidth" src="assets/code_cover_small.png" />
        <div class="smallGapLeftRight">
        <div class="colorPrimaryAndCenter">{{resource.aboutTitle}}</div>

        <div class="colorSecondryAndLeft" [innerHtml] = "resource.somethingAboutMe"></div>

        <div class="colorPrimaryAndLeft">{{resource.experience}}</div>

        <md-grid-list rowHeight="50px" cols="1">
            <md-grid-tile *ngFor="let experience of resource.experienceDetailsArray;let index=index" [style.background]="resource.colors[index%3]"
                [colspan]="1" [rowspan]="1">
                <br>
                <div class="colorSecondryAndLeft">{{experience.name}}</div>
                <div class="colorSecondryAndLeft">{{experience.post}}</div>

            </md-grid-tile>
        </md-grid-list>

        <md-chip-list class="mat-chip-list-stacked">
            <md-chip class="paddingMedium cursor" selected="true" color="primary">
                {{resource.downLoadResume}}
            </md-chip>
        </md-chip-list>

        <div style="margin-top: 10px" class="colorPrimaryAndLeft">{{resource.aboutWebSite}}</div>

        <div class="colorSecondryAndLeft" [innerHtml] = "resource.aboutWebSiteDescription"></div>

        </div>


</md-card>


    <md-toolbar color="primary">

        <span class="example-fill-remaining-space"></span>
        <div class="toolbar-icon-style cursor" *ngFor="let social of resource.aboutSocialDetailsArray">
            <img (click)="openLink(social.link)" [src]="social.path">
        </div>
        <span class="example-fill-remaining-space"></span>


    </md-toolbar>   