<md-card class="cardMargin">
    <md-card-content>
        <div [formGroup]="contactForm">

            <md-input-container class="example-full-width colorPrimaryAndLeftSmallFont">
                <textarea mdInput formControlName="message" [placeholder]="resource.contactMessagehint"></textarea>
                <div class="errorMessage">
                    <span *ngIf="!contactForm.controls['message'].valid && clicked">  {{resource.validText}} {{resource.contactMessageHeading}} </span>
                </div>
            </md-input-container>


            <md-input-container class="example-full-width colorPrimaryAndLeftSmallFont">
                <input formControlName="fullName" mdInput [placeholder]="resource.fullName" />
                <div class="errorMessage">
                    <span *ngIf="!contactForm.controls['fullName'].valid && clicked">  {{resource.validText}} {{resource.fullName}} </span>
                </div>
            </md-input-container>

            <md-input-container class="example-full-width colorPrimaryAndLeftSmallFont">
                <input mdInput formControlName="email" [placeholder]="resource.emailHint" />
                <div class="errorMessage">
                    <span *ngIf="!contactForm.controls['email'].valid && clicked">  {{resource.validText}} {{resource.emailHeading}} </span>
                </div>
            </md-input-container>
            <button color="primary" (click)="submitContactValuesToServer()" md-raised-button>Submit</button>

        </div>

        </md-card-content>

</md-card>