
<div class="cardMargin" (window:resize)="onResize($event)"  style="display: flex;flex-direction: row;height:100%;position:relative">
    <div style="height:100%;overflow-y:auto;" [ngStyle]="{'flex': url.indexOf('Inner')>-1?innerWidth>700?0.29:0:1}">
        <md-grid-list rowHeight="350px" [cols]="getColumnOnBasisOfDeviceWidth()">
            <md-grid-tile (click)="openWorkDetails(index)" *ngFor="let work of workDetailsArray;let index=index" [colspan]="1"
                [rowspan]="1" (click)="openWorkDetails(work)">
                <md-card style="padding: 0px !important">
                    <div [style.background]="resource.colors[index%resource.colors.length]" class="workTileStyle individualTab">
                        <img class="img-circle" [src]="work.iconUrl">
                        <br><br> <div style="color:black">{{work.title}}</div>
                         <div style="color:primary">{{work.platform}}</div>
                    </div>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </div>


    <div [ngStyle]="{'flex': url.indexOf('Inner')>-1?innerWidth>700?0.70:1:0}" style="height:100%">
        <router-outlet></router-outlet>
    </div>


</div>

