<md-sidenav-container class="example-sidenav-fab-container" fullscreen>

      <md-sidenav class="sidenav" #sidenav mode="side">

            <md-list>
                  <div class="individualTab">
                        <img class="imageMidWidth" src="assets/sparsh_circular_black.png">
                  </div>

                  <md-divider class="individualTab"></md-divider>

                  <div (click)="goToRouteLink(r.routeLink,sidenav)" *ngFor="let r of resource.navDrawerIcons">
                        <div class="individualTab">
                              <md-icon class="md-24 mdIconCenterClass">{{r.icon}}</md-icon>
                              <br>{{r.toolbarTitle.trim()}}
                        </div>
                        <md-divider class="individualTab"></md-divider>
                  </div>
            </md-list>
      </md-sidenav>
      <md-toolbar style="padding:1%" color="primary">
            <md-icon (click)="closeNavDrawerOrGoBack(sidenav)" class="md-24">{{icon}}</md-icon>
            <span class="toolbar-title-style">{{toolbarTitle}}</span>

            <!-- This fills the remaining space of the current row -->

            <span class="example-fill-remaining-space"></span>
            <div class="toolbar-icon-style cursor" *ngFor="let r of resource.toolbarIconsArray" (mouseleave)='changeTitleTo()' (click)="goToRouteLink(r.routeLink,sidenav)"
                  (mouseover)='changeTitleTo(r.toolbarTitle)' style="display: flex;flex-direction: column;">
                  <md-icon *ngIf="url.indexOf('Inner') == -1" style="flex: 0.8" class="md-48">{{r.icon}}</md-icon>
                  <div  *ngIf="url.indexOf('Inner') == -1" class="whiteAndSmall" style="flex:0.2">{{r.toolbarTitle}}</div>

            </div>
      </md-toolbar>

      <div class="light-background" style="height:100%;overflow-y:auto">


            <router-outlet></router-outlet>
      </div>


          <md-toolbar style="padding:1%" color="primary">
                <div class="whiteAndMedium">Developed By - Sparsh Jain<br>© 2017 Sparsh Jain. All rights reserved.</div>
             </md-toolbar>

</md-sidenav-container>