<md-sidenav-container class="example-sidenav-fab-container" (window:resize)="onResize($event)" fullscreen>

      <md-sidenav class="sidenav" #sidenav mode="side">

            <md-list class="menu-nav">
                  <md-list-item>
                        <img src="asset/sparsh_circular_black.png">
                  </md-list-item>

                       <md-divider class="individualTab" ></md-divider>

                  <div (click)="goToRouteLink(r.routeLink,sidenav)" *ngFor="let r of resource.navDrawerIcons">
                        <div class="individualTab">
                              <md-icon class="md-24 mdIconCenterClass">{{r.icon}}</md-icon>
                              <br>{{r.toolbarTitle.trim()}}
                        </div>
                       <md-divider class="individualTab" ></md-divider>
                  </div>
            </md-list>
      </md-sidenav>
      <md-toolbar class="primaryBackground">
            <md-icon (click)="closeNavDrawerOrGoBack(sidenav)" class="md-24">{{icon}}</md-icon>
            <span class="toolbar-title-style">{{toolbarTitle}}</span>

            <!-- This fills the remaining space of the current row -->

            <span class="example-fill-remaining-space"></span>
            <div *ngIf="innerWidth>750">

                  <md-icon *ngFor="let r of resource.toolbarIconsArray" (mouseleave)='changeTitleTo()' (click)="goToRouteLink(r.routeLink,sidenav)"
                        (mouseover)='changeTitleTo(r.toolbarTitle)' class="md-24 toolbar-icon-style">{{r.icon}}</md-icon>
            </div>
      </md-toolbar>

      <div class="light-background" style="height:100%;overflow-y:auto">
            <router-outlet></router-outlet>
      </div>

</md-sidenav-container>