

:root {
  --primary: #00838F;
}
.primaryBackground{
background:var(--primary);
color:white
}

.clickable { cursor: pointer; }

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.toolbar-title-style{
  padding-left: 15px
}

.toolbar-icon-style{
  
  padding-right: 60px;
}