/* You can add global styles to this file, and also import other style files */
@import 'angular-material-demo-theme.scss';



md-icon:hover {cursor: pointer;}
.clickable { cursor: pointer; }

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.toolbar-title-style{
  padding-left: 15px
}

.toolbar-icon-style{
  
  padding-right: 60px;
}

.light-background{
  background: E1F5FE
}
img {
    width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

.cursor{
  cursor : pointer;
}
.sidenav
{
   max-width: 70px;
}



.cardMargin
{
  margin:10px;
}


.paddingMedium
{
  margin-top: 15px;
}



.center{
   text-align: center;
}
.individualTab{
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin: 0 auto;
  color:mat-color($primary) !important;
}
.colorPrimaryAndCenter{
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin: 0 auto;
  font-size:2.1em;
  color:mat-color($primary) !important;
}
.colorPrimaryAndLeft{
  padding: 10px 0px 10px 0px;
  text-align: left;

  font-size:1.7em;
  margin: 0 auto;
  color:mat-color($primary) !important;
}

.colorSecondryAndCenter{
  padding: 10px 0px 10px 0px;
  text-align: center;

  font-size:1.2em;
  margin: 0 auto;
  color:mat-color($secondry) !important;
}

.colorSecondryAndLeft{
  padding: 10px 0px 10px 0px;
  text-align: left !important;
  margin: 0 auto;

  font-size:1.2em;
  color:mat-color($secondry) !important;
}

body
{

  font-family: 'Roboto', sans-serif;
}

.mdIconCenterClass
{
  width: 50%;
}
.workTileStyle{
  padding : 45px;
}


.majorGapLeftRight{
  padding-right: 100px;
  padding-left: 100px;
}

.roundedBorder {
width:200px;
margin-top: 20px;
text-align: center;
padding-top: 8px;
cursor: pointer;
height:30px;
-webkit-border-radius: 99px;
-moz-border-radius: 99px;
border-radius: 99px;
background-color:mat-color($primary);
}

.submitButton{
  background: mat-color($primary) ;
  color: white !important;
}


.example-full-width {
  width: 100%;
}

 .errorMessage {
      position: absolute;
      color:  mat-color($warn) ;
      margin-top: 10px;
      font-size:0.63em;
    
 }